In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset_train=pd.read_csv("Blackrock.csv")
dataset_train.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,720.000000,723.539978,703.770020,712.039978,692.085815,540800
1,2023-01-04,719.650024,727.479980,713.400024,721.900024,701.669434,710200
2,2023-01-05,713.030029,717.169983,701.210022,701.239990,681.588440,686700
3,2023-01-06,713.419983,738.559998,710.469971,738.000000,717.318237,1215700
4,2023-01-09,742.210022,762.809998,741.750000,752.989990,731.888123,1102800

In [3]:
training_set = dataset_train.iloc[:,1:2].values
print('shape is ={}'.format(training_set.shape))
print(training_set[0:5])

shape is =(251, 1)
[[720.      ]
 [719.650024]
 [713.030029]
 [713.419983]
 [742.210022]]